*{
  margin: 0;
  padding: 0;
  background-color: #767676;
}

.head {
  width: 100%;
  height: 80px;
  background-color: #0015FF;
  color: #FFFFFF;
}

h1 {
  position: relative;
  top: 20px;
  text-align: center;
  background-color: #0015FF ;
}
.niche {
  position: absolute;
  top: 670px;
  width: 100%;
  height: 100px;
  background-color: #393939;
}
.flot {
  background-color: #393939;
}


.flot small {
  background-color: #393939;
  color: white;
  position: relative;
  left: 10px;
}

p {
  color: white;
  position: relative;
  left: 5px;
}