*{
  margin: 0;
  padding: 0;
}

.head {
  width: 100%;
  height: 80px;
  background: linear-gradient(#0015FF,#B700FF);
  color: #FFFFFF;
}

h1 {
  position: relative;
  top: 20px;
  text-align: center;
  background: none;
  display: flex;
  justify-content: center;
}
.niche {
  position: absolute;
  top: 670px;
  width: 100%;
  height: 100px;
  background-color: #393939;
}
.flot {
  background-color: #393939;
}


.flot small {
  background-color: #393939;
  color: white;
  position: relative;
  left: 10px;
}

p {
  color: white;
  position: relative;
  left: 5px;
}
.treeLine {
  display: flex;
  position: absolute; 
  top: 3px;
  font-size: 34px;
  height: 40px;
  width: 30px;
}
.treeLine #threeLine {
  background-color: #0015FF;
}
.suru {
  color: #57FF8C;
}
.end {
  color: #FFFE57;
}

.bich {
  width: 100%;
  height: 660px;
  background: linear-gradient(#FF7D07,#FFC207);
}
.bich .surverCreateUI,#create-now {
  width: 90px;
  height: 40px;
  color: black;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  background: linear-gradient(#F4D9FF,#E7FFD9);
  border: 1px solid black;
  box-shadow: 1px 2px 4px #676767;
}